/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 0;
  line-height: 28px;
  letter-spacing: 0.1em;
  background-color: #000;
}

.button-login {
  max-width: 100%;
  text-align: right;
  font-family: "Rye", Arial, Helvetica, sans-serif;
}

.login {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
}

.container {
  margin: 0;
  text-align: center;
}

.lobo {
  width: 100%;
  max-width: 250px;
  flex-direction: column;
  display: inline-flex;
}

h1 {
  text-align: center;
  color: #ffd700;
  font-family: "Rye", Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: clamp(
    50px,
    5vw,
    120px
  ); /* Escala entre 24px e 45px dependendo da tela */
  word-spacing: 0.1em;
}

@media (max-width: 1280px) {
  .lobo {
    max-width: clamp(45px, 40%, 200px);
  }

  h1 {
    font-size: clamp(35px, 8vw, 120px);
    margin: 20px;
  }

  .login {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .lobo {
    max-width: clamp(45px, 30%, 200px);
  }

  h1 {
    font-size: clamp(35px, 8vw, 120px);
    margin: 15px;
  }

  .login {
    font-size: 1rem;
  }
}

.top-bar {
  text-align: left;
  font-family: "Rye", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
  gap: 15px;
  padding-top: 20px;
}

.button-gallery,
.button-news {
  background-color: #ffd700;
  text-decoration: none;
  padding: 2px 15px;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s;
  opacity: 1;
}

.button-gallery:hover,
.button-news:hover {
  background-color: #e0c200;
}

h2 {
  color: #ffd700;
  font-family: "Rye", Arial, Helvetica, sans-serif;
  text-align: left;
}

p,
ul {
  color: #ffff;
  text-align: left;
}

.button-base {
  text-align: center;
  background-color: #ffd700;
  border-radius: 10px;
  padding: 1px;
  width: 150px;
  max-width: 200px;
  margin-left: auto;
  margin-bottom: 10px;
}

.back {
  color: #000;
}

#image-base {
  width: 100%;
  height: 150px;
  opacity: 0.3;
  background-image: url("../imagens/Bandeira_de_Roraima.png");
  background-size: cover;
  background-position: center;
}
