:root {
  --yellow-45: hsl(51, 100%, 90%, 0.7);
  --yellow-50: hsl(51, 100%, 90%);
  --yellow-100: hsl(51, 100%, 85%);
  --yellow-200: hsl(51, 100%, 70%);
  --yellow-300: hsl(51, 100%, 60%);
  --yellow-400: hsl(51, 100%, 50%);
  --yellow-500: hsl(51, 100%, 45%);
  --yellow-600: hsl(51, 100%, 35%);
  --yellow-700: hsl(51, 100%, 25%);
  --yellow-800: hsl(51, 100%, 15%);
  --yellow-900: hsl(51, 100%, 10%);
  --yellow-950: hsl(51, 100%, 5%);
  --yellow-1000: hsl(51, 100%, 2%);
}

/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-font {
  font-family: "Rye", Arial, Helvetica, sans-serif;
}

.header-background__image {
  background: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 5px var(--yellow-1000);
}

.header-background__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/imagens/Floresta-estrada.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

/* .header-background__image {
  background-image: url("./assets/imagens/Floresta-estrada.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
} */

.button-login {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--yellow-200);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 10px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px var(--yellow-800);
}

.lobo {
  text-align: center;
  padding-top: 2%;
  transform: translateY(-150px);
}

.lobo img {
  width: clamp(160px, 30vw, 300px);
  height: auto;
}

.club-name {
  color: var(--yellow-500);
  font-size: clamp(60px, 3vw, 120px);
  margin-top: 0;
  text-shadow: 2px 2px 4px var(--yellow-800);
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: clamp(65px, 2vw, 80px);
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: clamp(45px, 1vw, 50px);
  }
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  letter-spacing: 2px;
}

.button-gallery,
.button-news {
  color: var(--yellow-200);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px var(--yellow-800);
}
