:root {
  --yellow-45: hsl(51, 100%, 90%, 0.7);
  --yellow-50: hsl(51, 100%, 90%);
  --yellow-100: hsl(51, 100%, 85%);
  --yellow-200: hsl(51, 100%, 70%);
  --yellow-300: hsl(51, 100%, 60%);
  --yellow-400: hsl(51, 100%, 50%);
  --yellow-500: hsl(51, 100%, 45%);
  --yellow-600: hsl(51, 100%, 35%);
  --yellow-700: hsl(51, 100%, 25%);
  --yellow-800: hsl(51, 100%, 15%);
  --yellow-900: hsl(51, 100%, 10%);
  --yellow-950: hsl(51, 100%, 5%);
  --yellow-1000: hsl(51, 100%, 2%);
}

/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.header-font {
  font-family: "Rye", Arial, Helvetica, sans-serif;
}

.header-background__image {
  background: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 5px var(--yellow-1000);
}

.header-background__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/imagens/Floresta-estrada.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.button-login {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--yellow-200);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 10px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px var(--yellow-800);
}

.lobo {
  text-align: center;
  padding-top: 15%;
  transform: translateY(-150px);
}

.lobo img {
  width: clamp(160px, 30vw, 300px);
  height: auto;
}

.club-name {
  color: var(--yellow-500);
  font-size: clamp(60px, 3vw, 120px);
  margin-top: 0;
  text-shadow: 2px 2px 4px var(--yellow-800);
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: clamp(65px, 2vw, 80px);
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: clamp(45px, 1vw, 50px);
  }
}

.button-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  letter-spacing: 3px;
  gap: 50px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

@media (max-width: 1280px) {
  .button-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 170px;
    gap: 6px;
    column-gap: 40px;
    text-align: center;
    align-items: center;
  }
}

.button-container a {
  color: var(--yellow-200);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 1px 1px 2px var(--yellow-800);
  text-align: center;
  align-items: center;
}

.menu-hamburguer {
  display: none;
}

@media (max-width: 1280px), (max-width: 800px) {
  .menu-hamburguer {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    color: var(--yellow-400);
    align-items: center;
  }

  .button-container {
    display: none;
    flex-direction: column;
    background-color: var(--yellow-45);
    position: absolute;
    bottom: 20px;
    right: 45px;
    padding: 15px;
    border-radius: 8px;
    z-index: 9;
    text-align: center;
    align-items: center;
  }

  .button-container.ativo {
    display: flex;
  }

  .button-container a {
    color: var(--yellow-200);
    text-shadow: 1px 1px 2px var(--yellow-800);
  }
}

.about-us {
  background-image: url("./assets/imagens/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.about-us p,
.about-us ul {
  margin: 30px auto 0 auto;
  line-height: 1.5rem;
  width: 70%;
}

li {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.about-us h2 {
  font-family: "Rye", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

#image-base {
  width: 100%;
  height: 20vh;
  opacity: 0.5;
  background-image: url("./assets/imagens/Bandeira_de_Roraima.png");
  background-size: cover;
  background-position: center;
}

/*Login Page */
.container-login {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #0f0f0f;
  color: white;
  background-image: #0f0f0f;
  position: relative;
  z-index: 1;
  min-width: 0;
}

.form-section,
.image-section {
  position: unset;
  z-index: unset;
}

.form-section h1 {
  width: 100%;
  word-wrap: break-word;
  line-height: 1.2;
  font-family: "Rye", Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .form-section h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .form-section h1 {
    font-size: 1.3rem;
  }
}

.login-space {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-section label {
  margin: 1rem 0 0.3rem;
  font-size: 0.9rem;
}

.input-wrapper {
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(to right, var(--yellow-700), var(--yellow-100));
  margin-bottom: 1rem;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #121212;
  color: white;
  outline: none;
  font-size: 1rem;
  display: block;
}

.login-space input:focus {
  border: 2px solid var(--yellow-200);
}

.forgot-password {
  color: white;
  font-size: 0.9rem;
  margin: 0.5rem 0 1.5rem;
  text-decoration: underline;
  text-align: right;
}

.login-button {
  padding: 9px 5px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    var(--yellow-600),
    var(--yellow-400),
    var(--yellow-200)
  );
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 4px var(--yellow-800);
  text-shadow: 1px 1px 2px var(--yellow-800);
}

.login-button:hover {
  transform: scale(1.05);
}

.image-section {
  flex: 1;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 0;
  height: 100%;
  background-image: linear-gradient(
      to right,
      #0f0f0f 0%,
      rgba(15, 15, 15, 0.7) 30%,
      rgba(0, 0, 0, 0) 60%
    ),
    url("./assets/imagens/Floresta-estrada.png");
}

/* Fale Conosco */

.container-speak {
  display: flex;
  justify-content: center;
  background-image: url("./assets/imagens/tijolos-brancos-da-textura-da-parede.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.form-speak {
  background-color: var(--yellow-500);
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 20px var(--yellow-700);
}

.form-speak h2 {
  margin-bottom: 10px;
  color: var(--yellow-1000);
  font-size: 65px;
}

.form-speak p {
  margin-bottom: 30px;
  color: #666;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
  padding-bottom: 5px;
}

form span {
  color: red;
}

form input,
form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

form input:focus,
form textarea:focus {
  border-color: var(--yellow-1000);
  outline: none;
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  background-color: var(--yellow-1000);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #818181;
}

@media (max-width: 600px) {
  .form-container {
    padding: 20px;
  }

  form input,
  form textarea {
    padding: 10px 12px;
  }

  .submit-button {
    width: 100%;
  }
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s;
  color: var(--yellow-400);
}

.back:hover {
  color: #818181;
}

/* Galeria */

.container-gallery {
  padding: 20px;
  text-align: center;
}

.container-gallery h1 {
  font-family: "Rye", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.container-gallery h1 {
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  /* background-color: #1e1e1e; */
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-top: 10px;
}

/* Fundamento e Conduta */

.conduct {
  background-image: url("./assets/imagens/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.conduct h2 {
  font-family: "Rye", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  padding-top: 80px;
  text-align: center;
  font-size: 55px;
  color: var(--yellow-500);
  text-shadow: 1px 1px 2px var(--yellow-800);
}

.conduct p {
  width: 300px;
  margin: auto;
  letter-spacing: 1px;
}

@media (max-width: 1280px) {
  .conduct h2 {
    font-size: clamp(65px, 2vw, 80px);
  }
}

@media (max-width: 800px) {
  .conduct h2 {
    font-size: clamp(45px, 1vw, 50px);
  }
}
@media (max-width: 1280px), (min-width: 800px) {
  .conduct h2 {
    font-size: clamp(45px, 1vw, 50px);
  }

  .conduct p {
    width: 80%;
    text-align: justify;
  }
}

/* Estrutura Hierarquica */

.container-hierarchy {
  background-image: url("./assets/imagens/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 0 15px;
}

.all {
  text-align: -webkit-center;
}

.title-hierarchy {
  text-align: center;
}

.title-hierarchy p {
  padding-top: 30px;
  font-size: 25px;
}

h1,
h2 {
  font-family: "Rye", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

p {
  padding-top: 25px;
  width: 100%;
  text-shadow: 0 0 2px var(--yellow-1000);
}

.alfa,
.counselor,
.treasurer,
.hunter,
.first-guardian,
.second-guardian,
.third-guardian {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 70%;
  place-items: center;
}

.grid-item {
  grid-column: 1 / 3;
  text-align: center;
}

img {
  max-width: 300px;
}

.esquerda {
  direction: ltr;
}

.direita {
  direction: rtl;
  text-align: left;
}

.direita img,
.direita div {
  direction: ltr;
}

@media (max-width: 1280px), (min-width: 800px) {
  .title-hierarchy p {
    font-size: clamp(16px, 2vw, 25px);
  }
  h1 {
    font-size: clamp(24px, 4vw, 48px);
  }

  h2 {
    font-size: clamp(18px, 3vw, 36px);
  }
  p {
    font-size: clamp(14px, 1.5vw, 22px);
  }
  img {
    max-width: clamp(150px, 20vw, 300px);
    height: auto;
  }
}
